img{
	width: 500px;
}

#banner {
	width: 100%;
}

#bannerDesc >p{
	font-size : 25px:
	line-height: 30px;
	font-weight: bold;
}

#banner {
	font-size: 32px;
	line-height: 40px;
}

.name{
	font-size: 20px;
	letter-spacing: 10px;
}

.map{
	height: 220px;
}

.post{
	width:220;
	height:294;
	object-fit:cover;
	border-radius:20px;
}

*{
	margin: 0;
	padding: 0;
}

#top{
	display:flex;
}

#banner{
	width:100%;
	position:relative;
}

#bannerDesc{
	width:45%;
	height:30vh;
	padding:3%;
	text-align:justify;
	border-radius:20px;
	position:absolute;
	top:35%;
	left:24%;

}

#bannerDesc > p{
	font-size:45px;
	line-height:30px;
	font-weight:bold;
	color:white;
	text-shadow:15px;
}

#bannerDesc > p{
	font-size:32px;
	line-height:40px;
	font-weight:bold;
	color:white;
	text-shadow:#00 1px 0 10px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #333;
}

.navbar-brand {
  font-size: 24px;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-nav li {
  margin: 0 10px;
}

.navbar-nav li a {
  font-size: 18px;
  font-family: Arial, sans-serif;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: #ccc;
}

.box{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	marign-top:2%;
}

.desc{
	margin:2%;
	padding:2%;
}

.social{
	width:60px;
	height:60px;
	padding:1%;
}

.header{
	font-size:25px;
	font-weight:bold;
	margin-bottom:2%;
}

#contact{
	display:;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}

ul{
	list-style-type:none;
}

li{
	padding:2%;
}

input{
	width:60%;
	height:30px;
	margin:1%;
}